  <a class="navbar-brand d-none d-sm-block mr-0 flex-shrink-0 mr-3" href="/" style="min-width: 5rem;">
      <img width="115" src="../../public/img/pikslide/light-green-pikslide.png" alt="Pikslide" />
  </a>
  <a class="navbar-brand d-sm-none mr-0" href="/">
      <img width="115" src="../../public/img/pikslide/light-green-pikslide.png" alt="Pikslide" />
  </a>