<!-- <a class="navbar-tool  mx-4" href="#signin-modal" data-toggle="modal">
    <button type="   button" class="btn btn-light btn-sm shadow-none bg-light rounded font-weight-bold log-btn">
        Log in
    </button>
</a> -->