<div class="input-group-overlay d-none d-lg-flex mx-3">
    <input class="form-control appended-form-control" type="text" placeholder="Search for products" />
    <div class="input-group-append-overlay">
        <button type="button" class="input-group-text">
            <i class="czi-search btn btn-primary bg-primary ibtn"></i>
        </button>
    </div>
</div>