  <div class="text-nowrap mb-4 mt-2">
      <a class="d-inline-block align-middle mt-n1 mr-3" href="/">
          <img class="d-block" width="117" src="/images/pikslide/light-green-pikslide.svg" alt="Pikslide" />
      </a>
  </div>