  <a class="navbar-brand d-none d-sm-block mr-0 flex-shrink-0 mr-2" href="/" style="min-width: 5rem;">
      <img width="145" src="/images/pikslide/light-green-pikslide.svg" alt="Pikslide" />
  </a>
  <a class="navbar-brand d-sm-none mr-0" href="/">
      <img width="120" src="/images/pikslide/light-green-pikslide.svg" alt="Pikslide" />
  </a>