<a class="navbar-tool  mx-4" href="/authentic/login">
    <button type="   button" class="btn btn-light btn-sm shadow-none bg-light rounded font-weight-bold log-btn">
        Log in
    </button>
</a>