<div class="topbar topbar-dark bg-dark">
    <div class="container">
        <div class="topbar-text dropdown d-md-none"><a class="topbar-link dropdown-toggle" href="#"
                data-toggle="dropdown">Useful links</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="tel:00331697720"><i class="czi-support text-muted mr-2"></i>(00)
                        33 169
                        7720</a></li>
                <li><a class="dropdown-item" href="order-tracking.html"><i
                            class="czi-location text-muted mr-2"></i>Order
                        tracking</a></li>
            </ul>
        </div>
        <div class="topbar-text text-nowrap d-none d-md-inline-block"><i class="czi-support"></i><span
                class="text-muted mr-1">Support</span><a class="topbar-link" href="tel:00331697720">(00) 33 169
                7720</a>
        </div>
        <div class="cz-carousel cz-controls-static d-none d-md-block">
            <div class="cz-carousel-inner"
                data-carousel-options="{&quot;mode&quot;: &quot;gallery&quot;, &quot;nav&quot;: false}">
                <div class="topbar-text">Free shipping for order over $200</div>
                <div class="topbar-text">We return money within 30 days</div>
                <div class="topbar-text">Friendly 24/7 customer support</div>
            </div>
        </div>
        <div class="ml-3 text-nowrap"><a class="topbar-link mr-4 d-none d-md-inline-block" href="order-tracking.html"><i
                    class="czi-location"></i>Order tracking</a>
            <div class="topbar-text dropdown disable-autohide"><a class="topbar-link dropdown-toggle" href="#"
                    data-toggle="dropdown"><img class="mr-2" width="20" src="/img/flags/en.png" alt="English" />Eng /
                    $</a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item">
                        <select class="custom-select custom-select-sm">
                            <option value="usd">$ USD</option>
                            <option value="eur">€ EUR</option>
                            <option value="ukp">£ UKP</option>
                            <option value="jpy">¥ JPY</option>
                        </select>
                    </li>
                    <li><a class="dropdown-item pb-1" href="#"><img class="mr-2" width="20" src="/img/flags/fr.png"
                                alt="Français" />Français</a></li>
                    <li><a class="dropdown-item pb-1" href="#"><img class="mr-2" width="20" src="/img/flags/de.png"
                                alt="Deutsch" />Deutsch</a></li>
                    <li><a class="dropdown-item" href="#"><img class="mr-2" width="20" src="/img/flags/it.png"
                                alt="Italiano" />Italiano</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>