<form action="/" class="input-group-overlay d-none d-lg-flex sm ">
    <div class="input-group-overlay d-none d-lg-flex mx-4 sm ">
        <input class="form-control appended-form-control rounded-0 rounded-right-0" id="myInput" type="text"
            placeholder="Search for products" />
        <div class="input-group-append-overlay">
            <button type="submit" class="input-group-text">
                <i class="czi-search btn btn-primary bg-primary ibtn"></i>
            </button>
        </div>
    </div>
</form>