<div class=" navbar-tool dropdown mx-4">
    <a class="navbar-tool-icon-box border dropdown-toggle mr-3" href="/users/profile">
        <img width="45" data-src="<%=user.profilePics%>" id="profilePics" src="<%=user.profilePics%>"
            class="rounded-circle lazyload" alt="Pikslide Studio" />
    </a>
    <div class="dropdown-menu dropdown-menu-right  " style="min-width: 12rem;">
        <a class="dropdown-item d-flex align-items-center font-weight-bold" href="/users/profile">
            <i class="czi-user-circle font-weight-bold  mr-2"></i>Profile
        </a>
        <a class="dropdown-item d-flex align-items-center font-weight-bold" href="/users/upload">
            <i class=" czi-cloud-upload  mr-2 font-weight-bold"></i>Upload
        </a>
        <a class="dropdown-item d-flex align-items-center font-weight-bold" href="/users/downloads">
            <i class="czi-download  mr-2 font-weight-bold"></i>Downloads
        </a>
        <a class="dropdown-item d-flex align-items-center font-weight-bold" href="/users/bookmark">
            <i class="czi-bookmark  mr-2 font-weight-bold"></i>Bookmark
        </a>
        <a class="dropdown-item d-flex align-items-center font-weight-bold" href="/users/sales">
            <i class="czi-currency-exchange czi-dollar  mr-2 font-weight-bold"></i>My Sales
        </a>
        <a class="dropdown-item d-flex align-items-center font-weight-bold" href="/users/setting">
            <i class="czi-settings  mr-2 font-weight-bold"></i>Settings
        </a>
        <a class="dropdown-item d-flex align-items-center font-weight-bold" href="/logout">
            <i class="czi-sign-out  mr-2 font-weight-bold"></i>Log out
        </a>
    </div>
</div>