    <!-- Back To Top Button-->
    <a class="btn-scroll-top" href="#top" data-scroll>
        <span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2"></span>
        <i class="btn-scroll-top-icon czi-arrow-up"></i>
    </a>

    <script src="../../public/vendor/jquery/dist/jquery.slim.min.js"></script>
    <script src="../../public/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../public/vendor/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="../../public/vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="../../public/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="../../public/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="../../public/vendor/drift-zoom/dist/Drift.min.js"></script>
    <script src="../../public/vendor/select2/select2.js"></script>
    <!-- Main theme script-->
    <script src="../../public/js/theme.min.js"></script>