<!-- Navbar-->
<%- include('../partials/header.ejs') %>
<!-- Navbar-->

<div class="container mt-4 pb-3">
    <div class="bg-light box-shadowf-lg  overflow-hidden">
        <div class="row">

            <!-- Sidebar-->
            <%- include('./userSidebar/userSidebar.ejs') %>
            hello userMycart
        </div>
    </div>
</div>


<!-- Main Section -->
<!-- --------------------------------------------------------------- -->


<%- include('../partials/footer.ejs') %>
</body>

</html>