 <footer class="bg- pt-4 sticky-footer" style="background-color: #f3f8fd">
     <div class="container">
         <div class="row pb-2">
             <div class="col-md-4 col-sm-6">
                 <div class="widget widget-links pb-2 mb-4">
                     <h3 class="widget-title font-weight-bold">ABOUT US</h3>
                     <ul class="widget-list">
                         <li class="widget-list-item">
                             <a href="#" class="widget-list-link">About company</a>
                         </li>
                         <li class="widget-list-item">
                             <a href="#" class="widget-list-link">Our team</a>
                         </li>
                         <li class="widget-list-item">
                             <a href="#" class="widget-list-link">Careers</a>
                         </li>
                         <li class="widget-list-item">
                             <a href="#" class="widget-list-link">News</a>
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="col-md-4 col-sm-6">
                 <div class="widget widget-links pb-2 mb-4">
                     <h3 class="widget-title font-weight-bold">INFORMATION</h3>
                     <ul class="widget-list">
                         <li class="widget-list-item">
                             <a href="#" class="widget-list-link">Plans & pricing</a>
                         </li>
                         <li class="widget-list-item">
                             <a href="#" class="widget-list-link">About us</a>
                         </li>
                         <li class="widget-list-item">
                             <a href="#" class="widget-list-link">Jobs</a>
                         </li>
                         <li class="widget-list-item">
                             <a href="#" class="widget-list-link">Sell your content</a>
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="col-md-4">

                 <div class="widget pb-2 mt-4">
                     <h3 class="widget-title pb-1 font-weight-bold">
                         Download our app
                     </h3>
                     <div class="d-flex flex-wrap">
                         <div class="mr-2 mb-2">
                             <a class="btn-market btn-apple" href="#" role="button">
                                 <span class="btn-market-subtitle">Download on the</span>
                                 <span class="btn-market-title">App Store</span>
                             </a>
                         </div>
                         <div class="mb-2">
                             <a class="btn-market btn-google" href="#" role="button">
                                 <span class="btn-market-subtitle">Download on the</span>
                                 <span class="btn-market-title">Google Play</span>
                             </a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="pt-3">
         <div class="container">
             <div class="row pb">
                 <div class="col-md-6 text-center text-md-left mb-4">
                     <div class="widget widget-links">
                         <%- include('./head/footerLogo.ejs') %>
                         <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start ">
                             <li class="widget-list-item mr-4">
                                 <a href="#" class="widget-list-link">Outlets</a>
                             </li>
                             <li class="widget-list-item mr-4">
                                 <a href="#" class="widget-list-link">Affiliates</a>
                             </li>
                             <li class="widget-list-item mr-4">
                                 <a href="#" class="widget-list-link">Support</a>
                             </li>
                             <li class="widget-list-item mr-4">
                                 <a href="#" class="widget-list-link">Privacy</a>
                             </li>
                             <li class="widget-list-itemmr-4">
                                 <a href="#" class="widget-list-link">Terms of use</a>
                             </li>
                         </ul>
                     </div>
                 </div>
                 <div class="col-md-6 text-center text-md-right mb-1">
                     <div class="mb-3">
                         <a class="social-btn sb-round sb-facebook ml-2 mb-2" href="#">
                             <i class="czi-facebook"></i>
                         </a>
                         <a class="social-btn sb-round sb-twitter ml-2 mb-2" href="#">
                             <i class="czi-twitter"></i>
                         </a>
                         <a class="social-btn sb-round sb-pinterest ml-2 mb-2" href="#">
                             <i class="czi-pinterest"></i>
                         </a>
                         <a class="social-btn sb-round sb-instagram ml-2 mb-2" href="#">
                             <i class="czi-instagram"></i>
                         </a>
                         <a class="social-btn sb-round sb-youtube ml-2 mb-2" href="#">
                             <i class="czi-youtube"></i>
                         </a>
                     </div>
                     <img class="d-inline-block" width="187" src="/images/cards-alt.png" alt="Payment methods" />
                 </div>
             </div>
             <div class="pb-4 font-size-xs text-muted text-center text-md-left">
                 © All rights reserved. Made by 2020- <%= new Date().getFullYear();%>
                 <a class="text-muted font-weight-bold" href="/">Pikslide</a>
             </div>
         </div>
     </div>
 </footer>
 <!-- Back To Top Button-->
 <!-- <a class="btn-scroll-top" href="#" data-scroll>
     <span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2"></span>
     <i class="btn-scroll-top-icon czi-arrow-up"></i>
 </a> -->

 <script src="/vendor/jquery/dist/jquery.slim.min.js"></script>
 <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
 <script src="/vendor/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
 <script src="/vendor/simplebar/dist/simplebar.min.js"></script>
 <script src="/vendor/tiny-slider/dist/min/tiny-slider.js"></script>
 <script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
 <script src="/vendor/drift-zoom/dist/Drift.min.js"></script>
 <script src="/script/fontawesome.js"></script>
 <script src="/script/lezyload.js"></script>

 <!-- <script src="/script/places.js"></script>
 <script src="/script/auto.js"></script> -->

 <script src="/script/autocompletes.js"></script>
 <script src="/script/sweetalert2.js"></script>
 <script src="/axios/axios.min.js"></script>


 <!-- Main theme script-->
 <script src="/script/theme.min.js"></script>