<header class="bg-light box-shadow-sm navbar-sticky">
   <!-- TopEnd-->

   <!-- TopEnd End-->
   <!-- Navbar Tpobar Start -->

   <%- include('./TniyNavbar/Navbar-Topbar-Start.ejs') %>
   <!-- Navbar Tpobar End -->

   <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
   <div class="navbar-sticky bg-light">
      <div class=" navbar navbar-expand-lg navbar-light navbar-stuck-menu mt-n2 pt-0 pb-2 ">

         <div class="container">
            <div class="collapse navbar-collapse" id="navbarCollapse">
               <!-- Search-->
               <div class="input-group-overlay d-lg-none my-3">
                  <div class="input-group-prepend-overlay">
                     <span class="input-group-text">
                        <i class="czi-search"></i>
                     </span>
                  </div>
                  <input class="form-control prepended-form-control" type="text" placeholder="Search for products" />
               </div>
               <!-- Departments menu-->
               <ul class="navbar-nav mega-nav pr-lg-2 mr-lg-2">
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle pl-0" href="#" data-toggle="dropdown">
                        <i class="czi-view-grid mr-2"></i>Departments
                     </a>
                     <div class="dropdown-menu px-2 pl-0 pb-4">
                        <div class="d-flex flex-wrap flex-md-nowrap">
                           <div class="mega-dropdown-column pt-4 px-3">
                              <div class="widget widget-links">
                                 <a class="
                                       d-block
                                       overflow-hidden
                                       rounded-lg
                                       mb-3
                                    " href="#">
                                    <img src="../../public/img/shop/departments/01.jpg" alt="Shoes" />
                                 </a>
                                 <h6 class="font-size-base mb-2">Clothing</h6>
                                 <ul class="widget-list">
                                    <li class="widget-list-item">
                                       <a class="widget-list-link" href="#">
                                          Women's clothing
                                       </a>
                                    </li>
                                    <li class="widget-list-item">
                                       <a class="widget-list-link" href="#">Men's clothing
                                       </a>
                                    </li>
                                    <li class="widget-list-item">
                                       <a class="widget-list-link" href="#">Kid's clothing
                                       </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                           <div class="mega-dropdown-column pt-4 px-3">
                              <div class="widget widget-links">
                                 <a class="
                                       d-block
                                       overflow-hidden
                                       rounded-lg
                                       mb-3
                                    " href="#">
                                    <img src="../../public/img/shop/departments/02.jpg" alt="Shoes" />
                                 </a>
                                 <h6 class="font-size-base mb-2">Shoes</h6>
                                 <ul class="widget-list">
                                    <li class="widget-list-item">
                                       <a class="widget-list-link" href="#">Women's shoes
                                       </a>
                                    </li>
                                    <li class="widget-list-item">
                                       <a class="widget-list-link" href="#">Men's shoes
                                       </a>
                                    </li>
                                    <li class="widget-list-item">
                                       <a class="widget-list-link" href="#">Kid's shoes</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                           <div class="mega-dropdown-column pt-4 px-3">
                              <div class="widget widget-links">
                                 <a class="
                                       d-block
                                       overflow-hidden
                                       rounded-lg
                                       mb-3
                                    " href="#"><img src="../../public/img/shop/departments/03.jpg" alt="Shoes" /></a>
                                 <h6 class="font-size-base mb-2">Gadgets</h6>
                                 <ul class="widget-list">
                                    <li class="widget-list-item">
                                       <a class="widget-list-link" href="#">Smartphones &amp; Tablets</a>
                                    </li>
                                    <li class="widget-list-item">
                                       <a class="widget-list-link" href="#">Wearable gadgets</a>
                                    </li>
                                    <li class="widget-list-item">
                                       <a class="widget-list-link" href="#">E-book readers</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
               <!-- Primary menu-->
               <ul class="navbar-nav">
                  <li class="nav-item dropdown active">
                     <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Home</a>
                     <ul class="dropdown-menu">
                        <li class="dropdown position-static mb-0">
                           <a class="dropdown-item py-2 border-bottom" href="home-fashion-store-v1.html"><span
                                 class="d-block text-heading">Fashion Store v.1</span><small
                                 class="d-block text-muted">Classic shop layout</small></a>
                           <div class="dropdown-menu h-100 animation-0 mt-0 p-3">
                              <a class="d-block" href="home-fashion-store-v1.html" style="width: 250px"><img
                                    src="../../public/img/home/preview/th01.jpg" alt="Fashion Store v.1" /></a>
                           </div>
                        </li>
                        <li class="dropdown position-static mb-0">
                           <a class="dropdown-item py-2 border-bottom" href="home-electronics-store.html">
                              <span class="d-block text-heading">Electronics Store</span><small
                                 class="d-block text-muted">Slider + Promo banners</small>
                           </a>
                           <div class="dropdown-menu h-100 animation-0 mt-0 p-3">
                              <a class="d-block" href="home-electronics-store.html" style="width: 250px"><img
                                    src="../../public/img/home/preview/th03.jpg" alt="Electronics Store" /></a>
                           </div>
                        </li>
                        <li class="dropdown position-static mb-0">
                           <a class="dropdown-item py-2 border-bottom" href="home-marketplace.html"><span
                                 class="d-block text-heading">Marketplace</span><small
                                 class="d-block text-muted">Multi-vendor, digital goods</small></a>
                           <div class="dropdown-menu h-100 animation-0 mt-0 p-3">
                              <a class="d-block" href="home-marketplace.html" style="width: 250px"><img
                                    src="../../public/img/home/preview/th04.jpg" alt="Marketplace" /></a>
                           </div>
                        </li>
                        <li class="dropdown position-static mb-0">
                           <a class="dropdown-item py-2 border-bottom" href="home-grocery-store.html"><span
                                 class="d-block text-heading">Grocery Store</span><small class="d-block text-muted">Full
                                 width + Side menu</small></a>
                           <div class="dropdown-menu h-100 animation-0 mt-0 p-3">
                              <a class="d-block" href="home-grocery-store.html" style="width: 250px"><img
                                    src="../../public/img/home/preview/th06.jpg" alt="Grocery Store" /></a>
                           </div>
                        </li>
                        <li class="dropdown position-static mb-0">
                           <a class="dropdown-item py-2 border-bottom" href="home-food-delivery.html">
                              <span class="d-block text-heading">Food Delivery Service</span><small
                                 class="d-block text-muted">Food &amp; Beverages delivery</small>
                           </a>
                           <div class="dropdown-menu h-100 animation-0 mt-0 p-3">
                              <a class="d-block" href="home-food-delivery.html" style="width: 250px"><img
                                    src="../../public/img/home/preview/th07.jpg" alt="Food Delivery Service" /></a>
                           </div>
                        </li>
                        <li class="dropdown position-static mb-0">
                           <a class="dropdown-item py-2 border-bottom" href="home-fashion-store-v2.html">
                              <span class="d-block text-heading">
                                 Fashion Store v.2
                              </span>
                              <small class="d-block text-muted">
                                 Slider + Featured categories
                              </small>
                           </a>
                           <div class="dropdown-menu h-100 animation-0 mt-0 p-3">
                              <a class="d-block" href="home-fashion-store-v2.html" style="width: 250px">
                                 <img src="../../public/img/home/preview/th02.jpg" alt="Fashion Store v.2" />
                              </a>
                           </div>
                        </li>
                        <li class="dropdown position-static mb-0">
                           <a class="dropdown-item py-2" href="home-single-store.html"><span
                                 class="d-block text-heading">Single Product Store</span><small
                                 class="d-block text-muted">Single product / mono brand</small></a>
                           <div class="dropdown-menu h-100 animation-0 mt-0 p-3">
                              <a class="d-block" href="../../public/home-single-store.html" style="width: 250px">
                                 <img src="../../public/img/home/preview/th05.jpg" alt="Single Product / Brand Store" />
                              </a>
                           </div>
                        </li>
                     </ul>
                  </li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Shop</a>
                     <div class="dropdown-menu p-0">
                        <div class="d-flex flex-wrap flex-md-nowrap px-2">
                           <div class="mega-dropdown-column py-4 px-3">
                              <div class="widget widget-links mb-3">
                                 <h6 class="font-size-base mb-3">
                                    Shop layouts
                                 </h6>
                                 <ul class="widget-list">
                                    <li class="widget-list-item pb-1">
                                       <a class="widget-list-link" href="shop-grid-ls.html">Shop Grid - Left Sidebar</a>
                                    </li>
                                    <li class="widget-list-item pb-1">
                                       <a class="widget-list-link" href="shop-grid-rs.html">Shop Grid - Right
                                          Sidebar</a>
                                    </li>
                                    <li class="widget-list-item pb-1">
                                       <a class="widget-list-link" href="shop-grid-ft.html">Shop Grid - Filters on
                                          Top</a>
                                    </li>
                                    <li class="widget-list-item pb-1">
                                       <a class="widget-list-link" href="shop-list-ls.html">Shop List - Left Sidebar</a>
                                    </li>
                                    <li class="widget-list-item pb-1">
                                       <a class="widget-list-link" href="shop-list-rs.html">Shop List - Right
                                          Sidebar</a>
                                    </li>
                                    <li class="widget-list-item pb-1">
                                       <a class="widget-list-link" href="shop-list-ft.html">Shop List - Filters on
                                          Top</a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>

   </div>
</header>