<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= title %> </title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Pikslide - Bootstrap E-commerce Template">
    <meta name="keywords"
        content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap 4, html5, css3, jquery, js, gallery, slider, touch, creative, clean">
    <meta name="author" content="Pikslide Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">