<%- include('../partials/header.ejs') %>
<!-- Main Section -->
<!-- --------------------------------------------------------------- -->

<div class="container py-5 mb-lg-3">
    <div class="row justify-content-center pt-lg-4 text-center">
        <div class="col-lg-5 col-md-7 col-sm-9">
            <h1 class="display-404 ">404</h1>
            <h1 class="h3 mb-4">Page not found!</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10">
            <div class="row">
                <div class="col-sm-4 mb-3"><a class="card h-100 border-0 box-shadow-sm" href="/">
                        <div class="card-body">
                            <div class="media align-items-center"><i class="czi-home text-primary h4 mb-0"></i>
                                <div class="media-body pl-3">
                                    <h5 class="font-size-sm mb-0">Homepage</h5><span
                                        class="text-muted font-size-ms">Back to homepage</span>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-sm-4 mb-3">
                    <a class="card h-100 border-0 box-shadow-sm" href="/posts">
                        <div class="card-body">
                            <div class="media align-items-center"><i class="czi-search text-success h4 mb-0"></i>
                                <div class="media-body pl-3">
                                    <h5 class="font-size-sm mb-0">Product</h5>
                                    <span class="text-muted font-size-ms">Search your best product</span>
                                </div>
                            </div>
                        </div>
                    </a></div>
                <div class="col-sm-4 mb-3"><a class="card h-100 border-0 box-shadow-sm" href="/blogs">
                        <div class="card-body">
                            <div class="media align-items-center"><i class="czi-help text-info h4 mb-0"></i>
                                <div class="media-body pl-3">
                                    <h5 class="font-size-sm mb-0">View Blogs</h5><span
                                        class="text-muted font-size-ms">Visit
                                        our blog page</span>
                                </div>
                            </div>
                        </div>
                    </a></div>
            </div>
        </div>
    </div>
</div>

<!-- --------------------------------------------------------------- -->
<!-- Main Section -->

<%- include('../partials/footer.ejs') %>
</body>

</html>