    <section class="container position-relative pt-lg-0 pb-5" style="z-index: 10;">
        <div class="card px-lg-2 border-0  mr-5">
            <div class=" card-body px-4 pt-5 pb-4">
                <h2 class="h3 text-center">Discover featured products</h2>
                <!-- <p class="text-muted text-center">Every week we hand-pick some of the best items from our collection</p> -->
                <!-- Carousel-->
                <div class="cz-carousel">
                    <div class="cz-carousel-inner"
                        data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 15, &quot;controls&quot;: false, &quot;nav&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3}, &quot;992&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 30}}}">
                        <!-- Product-->
                        <% for(let i=0;i<5;i++){ %>
                        <div class="card product-card-alt   col-lg-3 col-md-4 col-sm-4 mb-grid">
                            <a class="card-img-top d-block" href="/posts/products">
                                <img loading="lazy" src="/images/lazyload/pikslide-lazyload.jpg"
                                    data-src="/images/marketplace/products/02.jpg" class="card-img-top mt-3 lazyload"
                                    alt="Product">
                            </a>

                            <div class="card-body ">
                                <div class="d-flex flex-wrap justify-content-between align-items-start pb-1">
                                    <div class="text-muted font-size-xs mr-1">
                                        <a class="product-meta font-weight-medium" href="/users/profile">by
                                            Pikslide</a>
                                    </div>
                                    <div class="star-rating">
                                        <i class="sr-star czi-star-filled active"></i>
                                        <i class="sr-star czi-star-filled active"></i>
                                        <i class="sr-star czi-star-filled active"></i>
                                        <i class="sr-star czi-star-filled active"></i>
                                        <i class="sr-star czi-star-filled active"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </section>