<%- include('../../partials/header.ejs') %>

<!-- Main Section -->
<!-- --------------------------------------------------------------- -->

<section class="h-100 mrg-bot">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card-wrapper col-lg-40 col-md-6 my-10 ">
                <div class="card fat">
                    <div class="card-body ">
                        <h5 class="card-title font-weight-bold mb-4">Verify</h5>
                        <form class="needs-validation tab-pane fade show active" action="auth/" autocomplete="off"
                            novalidate id="signin-tab">
                            <div class="form-group ">
                                <h4>We'll send a verification link in your email address</h4>
                            </div>
                            <!-- <button class="btn btn-primary btn-block" type="submit">Send Code</button> -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- --------------------------------------------------------------- -->
<!-- Main Section -->

<%- include('../../partials/footer.ejs') %>
</body>

</html>