  <div class="container">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
              <a href="#home1" class="nav-link active" data-toggle="tab" role="tab">
                  <i class="czi-user-circle mr-2"></i>
                  Profile
              </a>
          </li>
          <li class="nav-item">
              <a href="#profile1" class="nav-link" data-toggle="tab" role="tab">
                  <i class="czi-cloud-upload mr-2"></i>
                  Upload
              </a>
          </li>
      </ul>

      <!-- Tabs content -->
      <div class="tab-content">
          <div class="tab-pane fade show active" id="home1" role="tabpanel">
              <!-- Profile-->
              <div class="tab-pane fade show active" id="profile" role="tabpanel">
                  <div class="bg-secondary rounded-lg p-4 mb-4">
                      <div class="media align-items-center"><img src="img/marketplace/account/avatar.png" width="90"
                              alt="Pikslide Studio">
                          <div class="media-body pl-3">
                              <button class="btn btn-light btn-shadow btn-sm mb-2" type="button"><i
                                      class="czi-loading mr-2"></i>Change <span
                                      class='d-none d-sm-inline'>avatar</span></button>
                              <div class="p mb-0 font-size-ms text-muted">Upload JPG, GIF or PNG image.
                                  300 x 300 required.</div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="dashboard-fn">First Name</label>
                              <input class="form-control" type="text" id="dashboard-fn" value="John">
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="dashboard-ln">Last Name</label>
                              <input class="form-control" type="text" id="dashboard-ln" value="Doe">
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="dashboard-email">Email address</label>
                              <input class="form-control" type="text" id="dashboard-email" value="contact@example.com"
                                  disabled>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="dashboard-profile-name">Profile Name</label>
                              <input class="form-control" type="text" id="dashboard-profile-name"
                                  value="Pikslide Studio">
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="dashboard-country">Country</label>
                              <select class="custom-select" id="dashboard-country">
                                  <option value>Select country</option>
                                  <option value="Argentina">Argentina</option>
                                  <option value="Belgium">Belgium</option>
                                  <option value="France">France</option>
                                  <option value="Germany">Germany</option>
                                  <option value="Madagascar" selected>Madagascar</option>
                                  <option value="Spain">Spain</option>
                                  <option value="UK">United Kingdom</option>
                                  <option value="USA">USA</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="dashboard-city">City</label>
                              <input class="form-control" type="text" id="dashboard-city" value="Antananarivo">
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="dashboard-address">Address Line</label>
                              <input class="form-control" type="text" id="dashboard-address"
                                  value="Some Cool Street, 22/1">
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="dashboard-zip">ZIP Code</label>
                              <input class="form-control" type="text" id="dashboard-zip">
                          </div>
                      </div>
                      <div class="col-12">
                          <hr class="mt-2 mb-3">
                          <div class="d-flex flex-wrap justify-content-between align-items-center">
                              <div class="custom-control custom-checkbox d-block">
                                  <input class="custom-control-input" type="checkbox" id="freelancer" checked>
                                  <label class="custom-control-label" for="freelancer">I'm available for
                                      freelance</label>
                              </div>
                              <button class="btn btn-primary mt-3 mt-sm-0" type="button">Save
                                  changes</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="tab-pane fade" id="profile1" role="tabpanel">
              <p class="font-size-sm">Food truck </p>
          </div>
      </div>
  </div>