<div class="tab-content pt-2">
    <!-- ProductDetails tab-->
    <div class="tab-pane fade show active" id="details" role="tabpanel">
        <div class="row">
            <div class="col-lg-8">
                <p class="font-size-md">Lorem ipsum dolor sit amet, sunt in culpa qui officia deserunt mollit
                    anim id est laborum.</p>
                <h3 class="h5 pt-2">Main features</h3>
                <ul class="font-size-md">
                    <li>Nemo enim ipsam voluptatem quia voluptas sit</li>
                    <li>Ut enim ad minima veniam, quis nostrum exercitationem</li>
                </ul>
            </div>
        </div>
    </div>