    <section class="container mb-5 pb-lg-3">
        <div class="d-flex flex-wrap justify-content-between align-items-center border-bottom pb-4 mb-4">
            <h2 class="h3 mb-0 pt-2">Related mockups</h2>
            <div class="pt-2"><a class="btn btn-outline-accent btn-sm" href="/posts">More mockups<i
                        class="czi-arrow-right ml-1 mr-n1"></i></a></div>
        </div>
        <!-- Carousel-->
        <div class="cz-carousel">
            <div class="cz-carousel-inner"
                data-carousel-options="{&quot;items&quot;: 2, &quot;gutter&quot;: 16, &quot;controls&quot;: false, &quot;nav&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;500&quot;:{&quot;items&quot;:2 },&quot;768&quot;:{&quot;items&quot;:3}, &quot;992&quot;:{&quot;items&quot;:4}}}">
                <!-- Product-->
                <div class="card product-card  col-lg-3 col-md-4 col-sm-4 mb-grid mt-2">
                    <button class="btn-wishlist btn-md mr-3 mt-3 product-card bg-primary shadow " type="button"
                        data-bs-toggle="tooltip" data-bs-placement="left" title="Love"><i
                            class="czi-heart text-light shadow "></i></button>
                    <a class="card-img-top d-block" href="/posts/products">
                        <img src="../../assets/img/marketplace/products/02.jpg" class="card-img-top mt-3" alt="Product">
                    </a>
                    <div class="card-body ">
                        <div class="d-flex flex-wrap justify-content-between align-items-start pb-1">
                            <div class="text-muted font-size-xs mr-1">
                                <a class="product-meta font-weight-medium" href="/users/profile">by Pikslide</a>
                            </div>
                            <div class="star-rating">
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                            </div>
                        </div>
                        <h3 class="product-title font-size-sm mb-2">
                            <a href="/posts/products">Floating Phone and Tablet...</a>
                        </h3>
                    </div>
                </div>
                <!-- Product-->
                <div class="card product-card  col-lg-3 col-md-4 col-sm-4 mb-grid mt-2">
                    <button class="btn-wishlist btn-md mr-3 mt-3 product-card bg-primary shadow " type="button"
                        data-bs-toggle="tooltip" data-bs-placement="left" title="Love"><i
                            class="czi-heart text-light shadow "></i></button>
                    <a class="card-img-top d-block" href="/posts/products">
                        <img src="../../assets/img/marketplace/products/03.jpg" class="card-img-top mt-3" alt="Product">
                    </a>
                    <div class="card-body ">
                        <div class="d-flex flex-wrap justify-content-between align-items-start pb-1">
                            <div class="text-muted font-size-xs mr-1">
                                <a class="product-meta font-weight-medium" href="/users/profile">by Pikslide</a>
                            </div>
                            <div class="star-rating">
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                            </div>
                        </div>
                        <h3 class="product-title font-size-sm mb-2">
                            <a href="/posts/products">Floating Phone and Tablet...</a>
                        </h3>
                    </div>
                </div>
                <!-- Product-->
                <div class="card product-card  col-lg-3 col-md-4 col-sm-4 mb-grid mt-2">
                    <button class="btn-wishlist btn-md mr-3 mt-3 product-card bg-primary shadow " type="button"
                        data-bs-toggle="tooltip" data-bs-placement="left" title="Love"><i
                            class="czi-heart text-light shadow "></i></button>
                    <a class="card-img-top d-block" href="/posts/products">
                        <img src="../../assets/img/marketplace/products/04.jpg" class="card-img-top mt-3" alt="Product">
                    </a>
                    <div class="card-body ">
                        <div class="d-flex flex-wrap justify-content-between align-items-start pb-1">
                            <div class="text-muted font-size-xs mr-1">
                                <a class="product-meta font-weight-medium" href="/users/profile">by Pikslide</a>
                            </div>
                            <div class="star-rating">
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                            </div>
                        </div>
                        <h3 class="product-title font-size-sm mb-2">
                            <a href="/posts/products">Floating Phone and Tablet...</a>
                        </h3>
                    </div>
                </div>
                <!-- Product-->
                <div class="card product-card  col-lg-3 col-md-4 col-sm-4 mb-grid mt-2">
                    <button class="btn-wishlist btn-md mr-3 mt-3 product-card bg-primary shadow " type="button"
                        data-bs-toggle="tooltip" data-bs-placement="left" title="Love"><i
                            class="czi-heart text-light shadow "></i></button>
                    <a class="card-img-top d-block" href="/posts/products">
                        <img src="../../assets/img/marketplace/products/01.jpg" class="card-img-top mt-3" alt="Product">
                    </a>
                    <div class="card-body ">
                        <div class="d-flex flex-wrap justify-content-between align-items-start pb-1">
                            <div class="text-muted font-size-xs mr-1">
                                <a class="product-meta font-weight-medium" href="/users/profile">by Pikslide</a>
                            </div>
                            <div class="star-rating">
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                                <i class="sr-star czi-star-filled active"></i>
                            </div>
                        </div>
                        <h3 class="product-title font-size-sm mb-2">
                            <a href="/posts/products">Floating Phone and Tablet...</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>