<div class="tab-content pt-2">
    <!-- ProductDetails tab-->
    <div class="tab-pane fade show active" id="details" role="tabpanel">
        <div class="row">
            <div class="col-lg-8">
                <p class="font-size-md">Lorem ipsum dolor sit amet, sunt in culpa qui officia deserunt mollit
                    anim id est laborum.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos optio explicabo nemo eum
                    eaque temporibus nihil autem architecto pariatur magnam, labore velit eveniet facilis blanditiis
                    adipisci repellendus placeat atque, exercitationem et quae quibusdam quos? Rerum maiores atque, nisi
                    cupiditate animi provident aliquid? Asperiores, numquam. Temporibus vero deserunt error quaerat
                    magnam exercitationem labore? Non id nesciunt cumque, consequatur fugiat explicabo?</p>


                <ul class="font-size-md col-lg-4 ">
                    <h3 class="h5 pt-2">Main features</h3>
                    <a href="">
                        <li>https://www.facebook.com</li>
                    </a>
                    <li>Ut enim ad minima veniam, quis nostrum exercitationem</li>
                </ul>
            </div>
        </div>
    </div>